:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#fceb94, #707070); /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 50px;

  /* Headlines og rubrik */
  --font-h1-size: 1.7rem;
  --font-sub1-size: 1.7rem;
  --font-h2-size: 1.4rem;
  --font-h3-size: 1.3rem;
  --color-headline-bg: light-dark(#000, #fffae2);
  --color-headline-text-page: light-dark(#fffae2, #272727);

  /* Tekst */
  --color-text: light-dark(#000, #fffae2);
  --color-text-inverted: light-dark(#fffae2, #272727);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: light-dark(#fff, #272727);
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #494949);
  --color-news-bg-inverted: light-dark(#dbe2f5, #272727);
  --color-cta-newscard-bg: #ffa680;
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#fff, #474747);
  --color-infobox-1-bg: light-dark(#fceb94, #777153);
  --color-infobox-2-bg: light-dark(#ffa680, #586556);

  /* Header2 */
  header nav ul li a {
    color: #000;
  }

  input,
  textarea {
    background-color: light-dark(#dbe2f5, #474747);
  }
}

:root.dark {
  color-scheme: dark;
}

nav button {
  flex: 0 0 auto;
  max-width: 200px;
  background-color: light-dark(#fffae2, #474747);
}
